@import "bootstrap.css";
@import "bootstrap-theme.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "fonts.css";
@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css";

$main_font: "Open Sans";

@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

* {
  font-family: $main_font;
}

header {
  .navbar-default {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;

    .container {
      .navbar-header {
        padding: 30px 0 30px 15px;;
        border: none;
        @include min-screen(768px) {
          padding-left: 0;
        }
        .navbar-brand {
          font-family: "Lobster 1.3";
          font-size: 43px;
          color: #44C0C2;
          line-height: 43px;
          padding: 0;
        }
        .navbar-toggle {
          border-color: #44C0C2;
          border-radius: 8px;
          background-color: #f8f9fb;
          .icon-bar {
            background-color: #44c0c2;
          }
        }
      }

      .navbar-collapse {
        padding: 0;
        border: none;
        .navbar-nav {
          text-align: right;
          margin: 0;
          li {
            a {
              font-size: 15px;
              color: #484C55;
              padding: 10px 20px;
              @include min-screen(768px) {
                padding: 45px 20px;
              }
              &:after {
                content: "";
                display: block;
              }
            }


            &:hover a, &.active a {
              border-bottom: 0 solid #2aabd2;
              box-shadow: none;
              background: #f8f9fb;
              color: #2aabd2;
              @include min-screen(768px) {
                border-bottom: 3px solid #2aabd2;
              }
            }
          }
        }
      }
    }
  }
}

.banner {
  .owl-carousel {
    position: relative;
    .carousel-item {
      .carousel-caption {
        text-shadow: none;
        padding: 0;
        bottom: 25%;
        transform: scale(0.4);
        @include min-screen(768px) {
          bottom: 60px;
          transform: scale(0.5);
        }
        @include min-screen(992px) {
          transform: scale(0.7);
          top: 30px;
        }
        @include min-screen(1170px) {
          transform: scale(1);
          top: 140px;
        }
        h3 {
          font-weight: 600;
          font-size: 63px;
          line-height: 63px;
          margin-bottom: 45px;
          display: none;
          @include min-screen(992px) {
            display: block;
          }
        }
        p {
          font-weight: 400;
          font-size: 23px;
          margin-bottom: 60px;
          display: none;
          @include min-screen(992px) {
            display: block;
          }
        }
        a {
          font-weight: 600;
          font-size: 26px;
          line-height: 26px;
          padding: 20px 30px;
          text-decoration: none;
          text-transform: capitalize;
          color: white;
          border: 2px solid white;
          border-radius: 10px;
          @include min-screen(992px) {
            padding: 20px 40px;
          }
        }
      }
    }
    .owl-nav {
      display: none;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 30px;
      right: 30px;
      margin-top: -25px;
      @include min-screen(768px) {
        display: flex;
        justify-content: space-between;
      }
      .owl-prev {
        &:after {
          content: "\f104";
          display: block;
        }
      }
      .owl-next {
        &:after {
          content: "\f105";
          display: block;
        }
      }
      .owl-prev, .owl-next {
        outline: none;
        &:after {
          font-family: "Font Awesome\ 5 Free";
          font-weight: 900;
          width: 50px;
          height: 50px;
          line-height: 50px;
          color: #44C0C2;
          font-size: 26px;
          background-color: white;
          border-radius: 50%;
        }
      }
    }
    .owl-dots {
      text-align: center;
      position: absolute;
      left: 25%;
      right: 25%;
      bottom: 10px;
      @include min-screen(768px) {
        display: none;
      }
      .owl-dot {
        outline: none;
        span {
          display: inline-block;
          width: 5px;
          height: 5px;
          background-color: #abdcff;
          border-radius: 50%;
          margin: 0 4px;
        }
        &.active span {
          width: 8px;
          height: 8px;
          position: relative;
          bottom: -2px;
        }
      }

    }
  }
}

.team {
  padding: 110px 0;
  h2 {
    font-weight: 400;
    color: #4e525d;
    font-size: 42px;
    margin-bottom: 140px;
  }
  .user {
    width: 200px;
    height: 200px;
    background-color: silver;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      margin-bottom: 70px;
    }

    &:before {
      content: "+";
      position: absolute;
      display: block;
      color: red;
      font-size: 50px;
      text-align: center;
      width: 100%;
      height: 100%;
      line-height: 200px;
      top: -100%;
      transition: 5s;
      cursor: pointer;
    }

    &:hover {
      &:before {
        top: 0;
        transform: rotate(2160deg);
      }
    }
  }
  h4 {
    line-height: 22px;
    font-size: 22px;
    margin-bottom: 30px;
    span {
      margin-top: 15px;
      line-height: 14px;
      font-size: 14px;
      display: block;
    }
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
}

.plans {
  background-color: #f1f1f1;
  padding: 120px 0 100px;
  ul {
    margin-bottom: 50px;
    list-style: none;
    li {
      padding: 15px 0;
      background-color: #ffffff;
      border-bottom: 1px solid #ecf0f1;
      .btn {
        font-weight: 600;
        font-size: 17px;
        line-height: 17px;
        color: white;
        background-color: #788492;
        padding: 10px 55px;
      }
      &:first-of-type {
        background-color: #485460;
        padding: 30px 0;
        color: white;
        font-size: 26px;
        line-height: 26px;
      }
      &:nth-child(2) {
        background-color: #f8f9fb;
        padding: 30px 0;
        color: #485460;
        font-size: 20px;
        line-height: 20px;
        text-transform: capitalize;
      }
      &:last-of-type {
        background-color: #f8f9fb;
        padding: 30px 0;
      }
    }
    &:nth-child(2) {
      li {
        &:first-of-type, a {
          background-color: #49cbcd;
        }
      }
    }
  }
}

footer {
  background: url("../images/footer_bg.jpg") top center no-repeat;
  background-size: cover;
  padding: 100px 0;
  h3 {
    font-size: 42px;
    color: #ffffff;
    line-height: 42px;
    margin-bottom: 120px;
  }
  .info {
    h4 {
      font-size: 24px;
      color: white;
      line-height: 24px;
      margin-bottom: 15px;
      margin-top: 0;
    }
    p {
      line-height: 21px;
      font-size: 14px;
      color: white;
      margin-bottom: 40px;
    }
    .social {
      margin-bottom: 22px;
      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        color: #ffffff;
        font-size: 22px;
        line-height: 40px;
        text-align: center;
        border: 1px solid white;
        border-radius: 50%;
        margin-right: 12px;
        &:hover {
          background-color: #3ec2f3;
          border-color: #3ec2f3;
          text-decoration: none;
        }
        &:first-of-type:hover {
          background-color: #3b5997;
          border-color: #3b5997;
        }
        &:last-of-type:hover {
          background-color: #e44c41;
          border-color: #e44c41;
        }
      }
    }
    .footer_contact {
      font-size: 14px;
      line-height: 24px;
      color: #bface2;
      a {
        text-decoration: none;
        color: #bface2;
      }
    }
  }

  form {
    outline: none;
    div {
      input, textarea{
        margin-bottom: 15px;
      }
      textarea {
        resize: none;
        min-height: 180px;
      }
      .btn-info {
        background: #49cbcd;
        width: 100%;
        border-radius: 3px;
      }
    }
  }
}